{% load staticfiles %}
<! DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="{% static 'mdeditor/css/editormd.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'mdeditor/css/editormd.preview.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>{{problem.name}}</h1>
    <div id="statement"><textarea>{{ problem.statement }}</textarea></div>

    <!-- <div id="statement">{{problem.statement}}</div> -->
    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
    <script>
      $(function () {
        editormd.markdownToHTML("statement", {
          emoji: true,
          taskList: true,
          tex: true,
          flowChart: true,
          sequenceDiagram: true,
        });
      });
    </script>
    {{ form.media }}
    <div>
      <form
        action="{%url 'submission' problem.problem_id %}"
        method="post"
        style="margin: auto"
      >
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
